.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures that the container takes the full height of the viewport */
}

.my-form {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.my-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.my-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.my-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 300px;
}

.my-table th, .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.my-table th {
    background-color: #4CAF50;
    color: white;
}
